@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

.bx {
    color: #da9732;
    cursor: pointer;
}

.nivelUser {
    display: none;
    visibility: hidden;
}


:root {
    --main-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.general_container {
    border-radius: 15px;
    margin-top: 1.2%;
    height: 95vh;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.model {
    display: none;
    visibility: hidden;
}

.general_container {
    border-radius: 15px;
    margin-top: 1.2%;
    height: 95vh;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/fundoManutencao.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


/* MENU */

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.topics {
    display: flex;
    flex-direction: column;
}

.topics>a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}


.title {
    font-size: 25px;
    background-color: #da9732;
    border-radius: 0px 30px 30px 0px;
    color: white;

}

.logOut {
    justify-content: center;
    text-align: center;
    font-size: 18px;
    align-items: center;
}




/* FIM MENU */


/* LAST CONTAINER */
.last_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.items_last {
    margin: 10px;
}

.last_container>div>i {
    font-size: 50px;
}

.items_last>p {
    font-style: italic;
}

.user {
    display: flex;
    flex-direction: column;
}

.user>i,
.bxs-plus-circle {
    font-size: 80px;
    color: #da9732;
}

.bxs-log-out-circle {
    font-size: 40px;
    color: #da9732;
}

.subtitle {
    display: flex;
    font-style: italic;
    align-items: center;
}

.bxs-heart-circle {
    font-size: 25px;
    color: #da9732;
}

/* DISTRIBUINDO O TAMANHO DOS CONTAINERS NA TELA */

header {
    width: 15vw;
}

main {
    background: rgb(255, 255, 255);
    width: 60vw;
    height: 90vh;
}


.last_container {
    width: 15vw;
}

main,
footer,
.last_container {
    margin-top: 2%;
}

/* CONTAINER COM AS INFORMAÇÕES */


/* TABELA */
.motorista_list,
.usuario_list {
    height: 40vh;

    overflow-y: scroll;
    overflow-x: hidden;
}

.motorista_list {
    margin-top: 2%;
}

.table {
    width: 100%;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 10px;
    margin: 1%;
    background-color: white;
}

.table th {
    border-bottom: 1px solid #C0C0C0;
    padding: 10px;
    overflow: auto;
    font-weight: 400;

}

.table td {
    text-align: center;
    align-items: center;
    border-bottom: 1px solid #C0C0C0;
    padding: 10px 5px;
}

th {
    padding: 10px;
}

.img_icon,
#ativo,
#ativoU {
    width: 1vw;
}

.manitence_list {
    height: 40vh;
}

/* FIM DA TABELA */


/* FILTRO */
.filter {
    margin-left: 8%;
    width: 50vw;
    border: 2px solid #da9732;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}

.search {
    padding: 7px;
    outline: none;
    border: none;
    width: 100%;
    background-color: transparent;
}

.bx-search {
    color: #da9732;
    font-size: 25px;
}