@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

:root{
    --main-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#id, #idOperacao{
    display:none;
    visibility: hidden;
}

.btnteste{
    display:none;
    visibility: hidden;
}
.model{
    display: none;
    visibility: hidden;
}

.general_container{
    border-radius: 15px;
    margin-top: 1.2%;
    height: 95vh;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* MENU */

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.topics{
    display: flex;
    flex-direction: column;
}

.topics > span{
    padding: 10px;
}
.items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}


.title{
   font-size: 25px;
   background-color: #da9732;
   border-radius: 0px 30px 30px 0px;
   color: white;

}

.logOut{
    justify-content: center;
    text-align: center;
    font-size: 18px;
    align-items: center;
}




/* FIM MENU */

/* OVERVIEW */
.container_vision{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.title_container_vision{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 3%;
}

.title_container_vision > span{
    font-size: 23px;
    color: #da9732;
    font-weight: bold;
}

.container_geral{
    display: flex;
    text-align: center;
    align-items: center;
}

.container_geral > div{
    padding: 10px;
    margin: 2%;
    width: 13vw;
    height: 10vh;
    display: flex;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    border:1px solid #C0C0C0;
}
.geral{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.geral > p > i{
    margin-left: 10px;
    font-size: 20px;
}
.geral > p{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.geral > span{
    font-size: 30px;
}

/* FIM DA OVERVIEW */

/* TABELA */
.table{
    width: 98%;
    border:1px solid #C0C0C0;
    border-collapse: collapse;
    padding:10px;
    margin: 1%;
    background-color: white;
}
.table th {
    border-bottom:1px solid #C0C0C0;
    padding:10px;
    overflow: auto;
    font-weight: 400;

}
.table td {
    text-align: center;
    border-bottom:1px solid #C0C0C0;
    padding:10px 5px;
}

th{
    padding: 10px;
}
/* FIM DA TABELA */

/* DISTRIBUINDO O TAMANHO DOS CONTAINERS NA TELA */

header{
    width: 15vw;
}

main{
    background: rgb(255, 255, 255);
    width: 30vw;
    height: 90vh;
}

footer{
    width: 40vw;
    
}

.last_container{
    width: 15vw;
}

main, footer, .last_container{
    margin-top: 2%;
}

/* CONTAINER COM AS INFORMAÇÕES */


.infos, .infosManitence{
    box-shadow:  10px 10px 50px -4px rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    width: 80%;
    background-color: white;
    height: 34vh;
}

.container_image > img{
    width: 8vw;

}
.container_image_manitence > img{
    margin-right: -5%;
    width: 10vw;


}
.description_manitence{
    margin-left: 1%;
}
 .container_image_manitence{

    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.description, .description_manitence{
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.description_manitence > span{
    margin: 1%;
}

.description >span{
    margin: 0.3%;
}

.done{
    border: 2px solid #da9732;;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10%;
    width: 100%;
    background-color: white;
    color: #da9732;
    font-weight: bold;
    font-size: 14px;
    
}

.done:hover{
    background-color: #da9732;
    color: white;
    cursor: pointer;
}

.close{
    background-color: red;
    color: white;
}

.last_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.items_last{
    margin: 10px;
}

.last_container > div > i{
    font-size: 50px;
}
.items_last > p{
    font-style: italic;
}

.user{
    display: flex;
    flex-direction: column;
}

.user > i, .bxs-plus-circle{
    font-size: 80px;
    color: #da9732;
}

.bxs-log-out-circle{
    font-size: 40px;
    color: #da9732;
}

.subtitle{
    display: flex;
    font-style: italic;
    align-items: center;
}
.bxs-heart-circle{
    font-size: 25px;
    color: #da9732;
}

.bxs-hide{
    font-size: 25px;
}


i{
    color: #da9732;
    cursor: pointer;
}